In [1]:
import pandas as pd
import numpy as np
#from abc import ABC, abstractmethod
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
plt.style.use('ggplot')

In [2]:
#read the csv into a pandas dataframe
df = pd.read_csv('/Users/raffi/Desktop/galvanize/capstone_1/data/games.csv', delimiter = ',')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

In [7]:
df['id'].unique().shape

(19113,)

In [8]:
#dropping duplicated ids in dataframe
df.drop_duplicates(subset = ['id'], inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19113 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              19113 non-null  object
 1   rated           19113 non-null  bool
 2   created_at      19113 non-null  float64
 3   last_move_at    19113 non-null  float64
 4   turns           19113 non-null  int64
 5   victory_status  19113 non-null  object
 6   winner          19113 non-null  object
 7   increment_code  19113 non-null  object
 8   white_id        19113 non-null  object
 9   white_rating    19113 non-null  int64
 10  black_id        19113 non-null  object
 11  black_rating    19113 non-null  int64
 12  moves           19113 non-null  object
 13  opening_eco     19113 non-null  object
 14  opening_name    19113 non-null  object
 15  opening_ply     19113 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.4+ MB

In [9]:
#update moves column from string to list for future analysis
df.moves = df.moves.apply(lambda x: x.split(' '))

In [20]:
#categorize rating scale - 1517 below 1200, 12668 between 1400 - 2000, 1716 above 2000
#beginner < 1200 : 1517
#novice 1200 - 1999 : 15880
#expert 2000 - 2200 : 

df[(df['white_rating'] >= 1200) & (df['white_rating'] < 2000)].count()
#df[df['white_rating'] < 1200].count()

id                15880
rated             15880
created_at        15880
last_move_at      15880
turns             15880
victory_status    15880
winner            15880
increment_code    15880
white_id          15880
white_rating      15880
black_id          15880
black_rating      15880
moves             15880
opening_eco       15880
opening_name      15880
opening_ply       15880
dtype: int64

In [38]:
#1 arg n and returns the nth fib number
#seq each n is sum of (n-1 + n-2)
n = 5

def fib(n):
    lst = [0, 1]
#    sum_ = 0
    for _ in range(2, n):
        sum_ = lst[-1] + lst[-2]
        lst.append(sum_)
    return lst[-1]

fib(8)

13

In [ ]:
0, 1, 1, 2, 3, 5, 8, 13

In [41]:
def fib2(n, a, b):
    lst = [a, b]
    for _ in range(2, n):
        sum_ = lst[-1] + lst[-2]
        lst.append(sum_)
    return lst[-1]
    
x = fib2(1000, 8, -2) / fib2(1001, 8, -2)
x

0.6180339887498949

In [42]:
y = fib(10000) / fib(10001)
y

0.6180339887498949

In [56]:
#substrings
lst = ['at', 'cat', 'bat', 'a']
sub = []
#tuple - anytime word appears in another word (at, cat) (at, bat) (a, at) etc

def substrings(lst):
    for word1 in lst:
        for word2 in lst:
            if word1 in word2 and word1 != word2:
                sub.append((word1, word2))
    return sub

substrings(lst)

[('at', 'cat'), ('at', 'bat'), ('a', 'at'), ('a', 'cat'), ('a', 'bat')]

In [57]:
def substrings(input):
    return [[(a, b) for a in input for b in input if (a in b) and (a!=b)]]

substrings(lst)

[[('at', 'cat'), ('at', 'bat'), ('a', 'at'), ('a', 'cat'), ('a', 'bat')]]

In [ ]:
for i in input:
    i