In [1]:
import pandas as pd
import numpy as np
#from abc import ABC, abstractmethod
import matplotlib.pyplot as plt
import scipy.stats as stats
plt.style.use('ggplot')

In [118]:
#read the csv into a pandas dataframe
df = pd.read_csv('/Users/raffi/Desktop/galvanize/capstone_1/data/games.csv', delimiter = ',')

In [119]:
#get the information about the dataframe - 20,058 rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20058 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              20058 non-null  object
 1   rated           20058 non-null  bool
 2   created_at      20058 non-null  float64
 3   last_move_at    20058 non-null  float64
 4   turns           20058 non-null  int64
 5   victory_status  20058 non-null  object
 6   winner          20058 non-null  object
 7   increment_code  20058 non-null  object
 8   white_id        20058 non-null  object
 9   white_rating    20058 non-null  int64
 10  black_id        20058 non-null  object
 11  black_rating    20058 non-null  int64
 12  moves           20058 non-null  object
 13  opening_eco     20058 non-null  object
 14  opening_name    20058 non-null  object
 15  opening_ply     20058 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.3+ MB

In [120]:
#find the unique identifier, which is 'id'
df['id'].unique().shape

(19113,)

In [121]:
#determine if 'id' is truly unique, look for duplicate values
df['id'].value_counts()

XRuQPSzH    5
QurxyQkA    4
I8odmGjb    4
nyYULwUl    4
o4T7dj5h    4
           ..
yTezA1Rw    1
JaKrsAgH    1
lvJcvlpo    1
8VfmTTJV    1
GIgJ3SIm    1
Name: id, Length: 19113, dtype: int64

In [122]:
#dropping duplicated ids in dataframe
df.drop_duplicates(subset = ['id'], inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19113 entries, 0 to 20057
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              19113 non-null  object
 1   rated           19113 non-null  bool
 2   created_at      19113 non-null  float64
 3   last_move_at    19113 non-null  float64
 4   turns           19113 non-null  int64
 5   victory_status  19113 non-null  object
 6   winner          19113 non-null  object
 7   increment_code  19113 non-null  object
 8   white_id        19113 non-null  object
 9   white_rating    19113 non-null  int64
 10  black_id        19113 non-null  object
 11  black_rating    19113 non-null  int64
 12  moves           19113 non-null  object
 13  opening_eco     19113 non-null  object
 14  opening_name    19113 non-null  object
 15  opening_ply     19113 non-null  int64
dtypes: bool(1), float64(2), int64(4), object(9)
memory usage: 2.4+ MB

In [123]:
#update moves column from string to list for future analysis
df.moves = df.moves.apply(lambda x: x.split(' '))

In [124]:
df_2['moves'][0]

['d4',
 'd5',
 'c4',
 'c6',
 'cxd5',
 'e6',
 'dxe6',
 'fxe6',
 'Nf3',
 'Bb4+',
 'Nc3',
 'Ba5',
 'Bf4']

In [126]:
df['increment_code'].value_counts()

10+0     7356
15+0     1258
15+15     821
5+5       723
5+8       678
         ...
30+45       1
16+3        1
3+30        1
10+35       1
4+12        1
Name: increment_code, Length: 400, dtype: int64

In [147]:
#categorizing according to time format
df['game_time'] = df['increment_code'].str.split('+').str[0].astype(int)
df['increment'] = df['increment_code'].str.split('+').str[1].astype(int)
df['game_time'].value_counts()

10     8987
15     3219
5      1748
20      902
8       888
30      712
7       600
25      309
9       249
12      218
6       171
180     147
45      144
11       96
60       95
13       70
4        65
14       63
3        56
2        52
16       48
0        40
40       36
17       36
1        31
19       27
90       26
35       26
18       26
120      12
150      11
29        2
21        1
Name: game_time, dtype: int64

In [184]:
#df['game_category'] = df['game_time'].where((df['game_time'] > 10) & (df['game_time'] < 60), 'blitz')
# df['game_category'] = df['game_time'].where((df['game_time'] >= 3) & (df['game_time'] <= 10), 'blitz')
# df['game_category'] = df['game_time'].where(df['game_time'] < 3, 'bullet')
df['game_category'] = df['game_time'].where(df['game_time'] >= 60, 'classical')

TypeError: '(0         True
1        False
2        False
3         True
4         True
         ...
20053     True
20054     True
20055     True
20056     True
20057     True
Name: game_time, Length: 19113, dtype: bool, 'rapid')' is an invalid key

dZ0HCVab    1
HNZeUWN0    1
7sfgoT4c    1
M1uYgZWA    1
NujCv5Fy    1
           ..
S7W6IUYQ    1
z0ykCM8K    1
SzAZIZqu    1
FM7uLKUI    1
EQAV7xQy    1
Name: game_category, Length: 15017, dtype: int64